<!-- Main Content -->
<div class="row">
    <div class="col">
            <div class="jumbotron" id="contentArea">
                <h1 class="display-4">About me</h1>
            </div>
            <p></p>
    </div>
</div>

    