<!-- Main Content -->
<div class="row">
    <div class="col">
          <div class="jumbotron" id="contentArea">
              <h1 class="display-4">My Projects</h1>
          </div>
          <div>
              <h2>Real Estate Website and supporting Database (Link my not work)</h2>
              <p><a href="http://opentech.durhamcollege.org/webd3201/group35/index.php">Click the Link.</a></p>
              <h2>Game Assets</h2>
              <p><img src="/assets/1.jpg" alt="Samurai"></p>
              <p><img src="/assets/SideF.jpg" alt="Samurai" style="width:300px;height:650px;"></p>
              <p><img src="/assets/Preview1.jpg" alt="Samurai"></p>
              <p><img src="/assets/Preview2.jpg" alt="Samurai"></p>
              <p><img src="/assets/Preview3.jpg" alt="Samurai"></p>
          </div>
    </div>
</div>

